body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

#menu_bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: flex-end;
  padding-top: 5px;
  /*background-color: white;*/
}

.menu_button {
  display: flex;
  width: 35px;
  display: inline-block;
  cursor: pointer;
  border: 2px solid white;
  padding: 5px;
  margin-right: 5px;
}

.hamburger_bar1, .hamburger_bar2, .hamburger_bar3 {
  width: 100%;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.change .hamburger_bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .hamburger_bar2 {opacity: 0;}

.change .hamburger_bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.section_inner {
  width: 100%;
  height: 100%;
}

.image-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  
}

#image-container0 {
  background-image: url("music-festival.jpeg"); /* The image used - important! */
  filter: blur(1px) brightness(0.6) saturate(1.2);
}

#image-container1 {
  background-image: url("music-festival2.jpeg"); /* The image used - important! */
  filter: blur(1px) brightness(0.3) saturate(1.4);
}

#image-container2 {
  background-image: url("music-festival4.jpeg"); /* The image used - important! */
  filter: blur(1px) brightness(0.8) saturate(1.2);
}

#image-container3 {
  background-image: url("music-festival3.jpeg"); /* The image used - important! */
  filter: blur(1px) brightness(0.8) saturate(1.2);
}

.image_title_main {
  color: white;
  border: 5px solid white;
  box-sizing: border-box;
  font-size: 10vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  z-index: 1;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 25%; /* Position text in the middle */
  left: 25%;
  mix-blend-mode: screen;
}

/*.button_bar {
  display: flex;
  position:  fixed;
  z-index: 1;
  width: 50%;
  top: 75%;
  left: 25%;
  height: auto;
}*/

.button_bar {
  display: block;
  position:  fixed;
  padding-left: 15px;
  line-height: 60px;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  background-color: white;
  mix-blend-mode: screen; /* This makes the cutout text possible */
}

.logo_box {
  display: inline-block;
  position: relative;
  /*border-radius: 1em;*/
  color: yellow;
  padding: 10px 15px;
  width: auto;
  text-align: center; /* Center text */
}

.logo {
  font-size: 2em; /* Responsive font size */
  font-weight: bold;
  transform: rotate(-45deg);
}

.button {
  display: inline-block;
  position: relative;
  /*border-radius: 1em;*/
  color: black;
  font-size: 2em; /* Responsive font size */
  font-weight: bold;
  /*padding: 10px 15px;*/
  margin: 10px 15px;
  width: auto;
  text-align: center; /* Center text */
}

.button::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 5px;
  bottom: 5px;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.button:hover::before {
  transform: scaleX(1);
}

.text_box {
  display: flex;
  position: absolute;
  flex-wrap: wrap;
  z-index: 1;
  top: 75px;
  left: 25%;
  width: 50%;
  height: 80%;
  border: 5px solid white;
}

.text_box_title {
  display: flex;
  width: 100%;
  font-size: 5vw; /* Responsive font size */
  font-weight: bold;
  color: white;
  justify-content: center;
  align-items: flex-start;
}

.main_text_content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-size: 2vw; /* Responsive font size */
  font-weight: normal;
  justify-content: center;
  align-items: flex-start;
}

.text_box_column {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.text_box_row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: white;
}

.headliner {
  font-weight: bold;
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
    background: white;
}